body{
     /* background-image: url(gray_sand_@2X.png); */
     /* background-color: #DAA520; */
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0;
     padding: 0;  
     /* display: flex; */
     /* flex-wrap: wrap; */
}
.entete {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

header img{
    height: 101px;
    width: 218PX;
}
nav ul li{
    display: inline; 
     MARGIN-LEFT: 57PX; 
     margin-top: 10px; 
    text-align: center;  
    /* color: aliceblue; */
    /* display: flex; */
    /* flex-wrap: wrap; */
  
}
nav ul li a{
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.reseausociaux img{
    width: 30px;
    height: 30px;
    margin-top: 47px;
    margin-left: 10PX;
    /* margin: 10PX */
}
.reseausociaux{
    position: relative;
    left: -60px;
}
.accueil img{
    position: relative;
    width: 100%;
}
.accueil p {
    z-index: 100;
    position: absolute;
    margin-top:650px;
    font-family: cursive;
    margin-left: 30px;
    font-size: 23PX;
    color : paleturquoise;

}

.titre h1{
    
    text-shadow: 2px 2px #FF8C00;
    text-align: center;
    /* margin-top: 80PX; */
    color: black;
    margin-top: 111px;
    text-shadow: 5px 5px 10px #FF8C00;

}
.title {
    display: flex;
    justify-content: space-around;
    margin-top: 111px;
    
}
.pic1 {
    /* background-color: brown; */
    width: 15%;
}
.pic2 {
    
    width: 15%;
}
.pic3 {
    
    width: 15%;
}
.pic4 {
    
    width: 15%;
}
.seemore1{
    padding: 10px 30px; 
    background: #FF8C00; 
    color: white; 
    text-decoration-line: none;
    border-radius: 20px; 
}










.head{
    margin-top: 4%;
}
.title1 h1{
  vertical-align: middle;
line-height: 125px;
color: white;
}
.title1{
  background: linear-gradient(90deg, rgba(242,84,39,1) 19%, rgba(205,69,48,1) 44%, rgba(167,65,58,1) 72%, rgba(147,58,48,1) 83%, rgba(134,39,13,1) 100%);
  text-align: center;
  height: 125px;
}

.pod{

}

.cca{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.wives{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.vl {
  border-left: 2px solid grey;
  height: 364px;
  position: relative;
  left: 108px;

}

.image{
    margin-top: 6%;
    margin-right: 10%;
}

.wives .para{
    width: 68%;
}

.louisa {
    width: 25%;
    margin-right: 10%;
}

.play{
     position: relative;
    right: 161px;
    top: 139px; 
}
#my-sub {
    position: relative;
    left: 24px;
    bottom: 83px;
    padding: 15px 25px;
    font-size: 24px;
    width: 108px;
    border-radius: 12px;
    color: #fff;
    background-color: #FF8C00;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #FF8C00;
}

#my-sub:hover {
    transform: translateY(3px);
    box-shadow: 0 6px #FF8C00;
}

#my-sub:actif {
    transform: translateY(7px);
    box-shadow: 0 2px #FF8C00;
}
#my-sub1 {
    position: relative;
    left: 328px;
    bottom: 83px;
    padding: 15px 25px;
    font-size: 24px;
    width: 108px;
    border-radius: 12px;
    color: #fff;
    background-color: #FF8C00;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #FF8C00;
}

#my-sub1:hover {
    transform: translateY(3px);
    box-shadow: 0 6px #FF8C00;
}

#my-sub1:actif {
    transform: translateY(7px);
    box-shadow: 0 2px #FF8C00;
}
#mp {
      position: relative;
    left: 127px;
    bottom: 22px;
}