body{
     /* background-image: url(gray_sand_@2X.png); */
     /* background-color: #DAA520; */
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0;
     padding: 0;  
     /* display: flex; */
     /* flex-wrap: wrap; */
}
.entete {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

header img{
    height: 101px;
    width: 218PX;
}
nav ul li{
    display: inline; 
     MARGIN-LEFT: 57PX; 
     margin-top: 10px; 
    text-align: center;  
    /* color: aliceblue; */
    /* display: flex; */
    /* flex-wrap: wrap; */
  
}
nav ul li a{
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.reseausociaux img{
    width: 30px;
    height: 30px;
    margin-top: 47px;
    margin-left: 10PX;
    /* margin: 10PX */
}
.reseausociaux{
    position: relative;
    left: -60px;
}
.accueil img{
    position: relative;
    width: 100%;
}
.accueil p {
    z-index: 100;
    position: absolute;
    margin-top:546px;
    font-family: cursive;
    margin-left: 30px;
    font-size: 23PX;

}

.titre h1{
    
    text-shadow: 2px 2px #FF8C00;
    text-align: center;
    /* margin-top: 80PX; */
    color: black;
    margin-top: 111px;
    text-shadow: 5px 5px 10px #FF8C00;

}
.title {
    display: flex;
    justify-content: space-around;
    margin-top: 111px;
    
}
.pic1 {
    /* background-color: brown; */
    width: 15%;
}
.pic2 {
    
    width: 15%;
}
.pic3 {
    
    width: 15%;
}
.pic4 {
    
    width: 15%;
}
.seemore1{
	padding: 10px 30px; 
    background: #FF8C00; 
    color: white; 
    text-decoration-line: none;
    border-radius: 20px; 
}
/*p a.seemore1:hover {
background: red; 
}*/
/* Hamza CSS*/

footer {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    font-family: Roboto;
    text-align: center;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 54px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 37px;
  margin-left: 53px;
 text-shadow:5px 5px 10px #FF8C00;

}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #FF8C00;
  border-radius: 20px;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  margin-left: 13PX;
  border-radius: 2px;
}
}

#contact button[type="submit"]:hover {
  background: rgb(251, 253, 252);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
/*mohammed CSS*/
.head{
    margin-top: 4%;
}

.pod{

}

.cca{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}

.wives{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.vl {
  border-left: 2px solid grey;
  height: 390px;
}

.image{
    margin-top: 6%;
    margin-right: 10%;
}

.wives .para{
    width: 68%;
}

.louisa {
    width: 25%;
    margin-right: 10%;
}

.play{
    padding-top: 7%;
    border-radius: 6px;
}































=======
footer {
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    font-family: Roboto;
    text-align: center;
}
>>>>>>> be8ee65f5304bc2cd83c3f570ebc4b310172a4f7:css/Untitled-1.css
@media (max-width: 700px){
    .nav{
        position: relative;
        left: 10px;
    }

}
